body {
    margin: 0px;
}

.menu {
    padding: 19px;
    display: flex;
    margin: 0px;
    height: 30px;
}

.signin-button {
    width: 210px;
    height: 40px;
}

.imagen-menu {
    width: 23px;
    height: 25px;
}

.dialog-search {
    margin-left: 20px;
    width: 24px;
    height: 23px;
}

.boton-menu {
    background: none;
    border: none;
}

.logotipo {
    margin: auto;
    display: inline-flex;
    padding-left: 83px;
    text-align: center;
}

.logotipo-letra {
    background: black;
    margin: 2px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 8px;
    font-weight: bold;
    font-size: 21px;
    display: inline;
    text-align: center;
    align-items: center;
}

.logotipo-letra-signo {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.register {
    background: black;
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 17px;
    border: none;
    align-items: center;
    display: flex;
    text-align: center;
    box-shadow: 0 0 10px #00000050;
}

.signin {
    background: white;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 17px;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px #00000050;
}

.barra-navegacion {
    width: 100%;
    border-color: black;
    border-width: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-color: #80808033;
    border-width: 0.01px;
    border-style: groove;
    justify-content: center;
    padding: 3px;
    gap: 12px;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    opacity: 1;
}

.boton-navegacion {
    border: none;
    background: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    /* text-decoration: underline; */
    transition: all 0.3s ease-in-out;

}

.nuevo-boton-navegacion {
    border: none;
    background: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-decoration: underline;
    transform: scale(1.15);
    /* transition-delay: 1s; */
    transition: all 0.5s;
}

.buscador-dialog {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.boton-menu-dialog {
    border-top: 0.01px groove #80808033;

    border-right: none;

    border-bottom: 0.01px groove #80808033;

    border-left: none;

    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: start;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 9px 0px;
    border-top: none;
}

.first-boton-dialog {
    padding: 14px;
    margin-top: 10px;
    text-align: start;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boton-menu-dialog:hover {
    background-color: rgba(230, 230, 230, 0.762);
}

.icono-cerrar {
    width: 20px;
    margin: 10px;
}

.contenedor-buscar-dialog {
    display: inline;
}

.buscar-dialog {
    width: 42px;
}

.contenedor-dialog-menu {
    position: fixed;
    top: 0;
    left: -303px;

    width: 303px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(104, 104, 104, 0.304);
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    margin-top: 69px;
    transition: transform 300ms ease;
    transform: translateX(0);
}

.mostrar-contenedor {
    transform: translateX(303px);

}

.imagen-menu {
    transition: transform 0.3s ease;

}

.rotar {
    transform: rotate(180deg);

}

.imagen-noticia {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.imagen-noticia imagen4 {
    width: 400px;
    height: 200px;
}

.contenedor-links {
    margin-left: 400px;
    margin-top: 30px;
    border-color: #80808033;
    border-width: 0.01px;
    border-style: groove;
    border-left: none;
    border-top: none;
    height: 213px;
    border-right: none;
}

.titulo-link {
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.parrafo-link {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.titulo-noticia {
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: black;
}

.parrafo-noticia {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}



.item-image {
    width: 400px;
}

.close-btn {
    background: none;
    width: 34px;
    height: 40px;
    position: relative;
    left: 46%;
}

#site-search {
    margin-left: 140px;
    margin-top: 30px;
}

.contenedor-final {
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas por defecto */
    width: 500px;
    gap: 15px;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .barra-navegacion {
        opacity: 0;
        /* div  transparente */
        max-height: 0;
    }

    .contenedor-final {
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
    }

    .contenedor-final>div {
        border-bottom: rgba(196, 195, 195, 0.684);
        border-left: none;
        border-top: none;
        border-right: none;
        border-color: #80808033;
        border-width: 0.01px;
        border-style: groove;
        border-left: none;
        border-top: none;
        height: auto;
        text-align: center;
        padding: 10px;
    }

    .contenedor-final img {
        width: 100%;
        height: auto;
    }

    .titulo-noticia {
        font-size: 18px;
    }

    .parrafo-noticia {
        font-size: 14px;
    }
}


/* robin */

.grid-container {
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 34px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 0 solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-style: inset;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #00000024;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;

    a {
        text-decoration: none;
        color: black;
    }
}

.description {
    font-size: 14px;
    color: gray
}

.imagen-grid {
    width: 300px;
}

.menu-toggle {
    border: none;
    cursor: pointer;
    padding: 0px 20px;
    font-size: 32px;
    font-weight: bold;
    font-family: math;
}

main {
    width: min(768px, 100%);
    margin: auto;

    img {
        width: 100%;
    }
}